.index-page-manage{
  width:100%;
  height:100%;
  overflow: auto;

  


  
}

.form-container{
  width: 100%;
  height: 100%;
  // padding:30px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .form-item{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;


    .form-item-label{
      width:100px;
      text-align: right;
    }
    .form-item-content{
      width: 70%;
    }
  }
}